@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
button{
     align-items: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    margin: 20px auto;

}
button{
    padding: 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 20px;
}
button:hover{
    color: purple;
    background-color: aqua;
}

nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: #1b1b1b;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
  }
  nav .logo{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: #111;
    background: #fff;
  }
  nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  @media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #111;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: cyan;
    }
  }

hr{
        height: 1px;
        background-color: #ccc;
        border: none;
        width: 100%;
}


.heading h1{
    text-align: center;
    align-items: center;
    color: white;
    background-color: black;
    font-weight: bold;
    padding: 20px;
    font-size: 100px;
    font-family: 'Fjalla One', sans-serif;
}
.vertical h4{
    font-family: 'KoHo', sans-serif;
}
.vertical p{
    font-family: 'Maven Pro', sans-serif;
    color: gray;
}
.vertical h5{
    color: gray;
}
.outer ul li a{
    font-family: 'KoHo', sans-serif;
    
}
.content{
    display: grid;
    grid-template-columns: auto auto;
    color: white;
}
.content .item{
    padding-top: 20px;
    border: 2px solid black;
    background-color: black;

    display: flex;
    justify-content: space-around;
}
.content .item img{
    padding-right: 10px;
}
.content .item1{
    padding-top: 20px;
    padding-left: 20px;
    border: 2px solid black;
    background-color: black;
    color: white;
    grid-area: 1/1/4/2;
    
}
.content .item1 img{
    width: 70%;
    height: 50%;
}
.content .item img{
    width: 30%;
    height: 50%;
}
.card img{
    height: 40%;
    width: 50%;
}
.section{
    width:100%;
    background-size: cover;

}
.section h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:25px 0;
}
.col{
    margin:auto;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.section-item p{
    font-family: 'Maven Pro', sans-serif;
    color: black;
}

.section-item{
    flex-basis: 23%;
    margin:10px 0;
    padding:20px 0px;
    text-align: center;
    box-shadow: 0px 0px 10px 3px lightgray;
}
.section-item p{
    padding: 10px;
}
.section-item h3{
    font-family: 'Maven Pro', sans-serif;
    color: #111;

}
.section-item button{
    background-color: rgb(124, 20, 162);
    padding:10px 25px;
    color:white;
    border: none;
    border-radius: 13px;
    margin: auto;
}
.section-item:hover{
    background: rgb(124, 20, 162);
}
.section-item:hover h3,.section-item:hover p{
    color:white;
}
.section-item:hover button{
    background: white;
    color:rgb(124, 20, 162);

}

footer{
    background-color:black;
    color:white;
}
footer p{
    color:gray;
}
footer .container{
    width:90%;
    margin:0 auto;
    display:flex;
    padding:50px 0;
}
.about{
    padding:0 15px;
}
.about, .contact{
    width:40%;
}
.links{
    width:20%;
}
.container h2{
    margin-bottom: 20px;
}
.social{
    margin-top: 30px;
}
.social ul{
    display:flex;
}
.social ul li a{
    display: inline-block;
    margin-right: 50px;
    width: 50px;
    height: 50px;
    padding-top: 15px;
    background-color: transparent;
    border: 1px solid gray;
    text-align: center;
    border-radius: 50%;
}
.social ul li a:hover{
    color:black;
    background-color: purple;
}
.links ul li a{
    color:gray;
}
.links ul li{
    margin-bottom: 15px;
    font-size: 20px;
}
.links ul li a:hover{
    color:white;
}
.container h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact ul li{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.contact ul li span{
    margin-right:15px;

}
.contact ul li a{
    color:gray;
}
@media screen and(max-width:992px) {
    .about,.contact{
    width:35%;
    }
    .links{
    width:30%;
    }
}
@media  screen and (max-width:767px) {
    .about,.contact,.links{
    width:100%;
    margin-bottom:30px;
    } 
    .container{
        flex-direction: column;
    } 
}
@media screen and (max-width:1080px){
    
        .social ul li a{
           margin-right: 10px;
        }
       
    
}

@media only screen and (max-width: 767px){
    .content{
        display: grid;
        grid-template-columns: auto;
        color: white;
       
    }
    .col{
        width: 60%;
        margin: auto;
        flex-direction: column;
    }
    .item img{
        margin:0px 10px;
    }
    .section-item{
        margin: 10px;
    }
    .heading{
        width: 100%;
    }
}
@media only screen and (max-width: 768px)
{
    .heading{
        width: 100%;
    }
}
